
body {
    font-family: 'Dosis', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.audio-container, .video-container {
    margin-bottom: 40px;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.audio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e0f7fa;
}

.audio-label, .video-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}


.play-button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.play-button:hover {
    color: #007BFF;
}


.video-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

video {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    width: 250px;
    height: 140px;
}
